{:paths ["src" "data"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/core.logic {:mvn/version "0.8.11"}}
 :aliases
 {:nREPL {:extra-deps {nrepl/nrepl {:mvn/version "0.6.0"}}}
  :test {:extra-paths ["test"]
         :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                 :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
